@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}

<partial name="_ShowCase" />

<div class="quote">
    <div class="quote-content">
        <div class="quotation">
            <h4 class="q-m">
                Loving God, Loving Others and Serving the World
            </h4>
            <div class="line"></div>
            <p class="q-w">
                “The church is the body of Christ on earth, empowered by the Holy Spirit to continue the task of reaching the lost and discipling the saved, helping them become fully devoted followers of Christ.”
                Ephesians 4:1-16
            </p>
        </div>
    </div>
</div>

<div class="brief">
    <div class="brief-content">
        <div class="brief-1">
            <h5 class="small text">
                Our goal is to build Heaven on Earth
            </h5>
        </div>
        <div class="middle">
            <p class="text2 desc">
                This is a church service that believes in Jesus, a church that loves God and people.
                Overwhelmed by the gift of salvation we have found in Jesus, we have a heart for authentic worship, are passionate about the local church.
            </p>
            <ul class="middle-list">
                <li>
                    <i class="fas fa-quote-left"></i>
                    <p class="text2">We believe that the bible is God's Word</p>
                </li>
                <li>
                    <i class="fas fa-quote-left"></i>
                    <p class="text2">We believe that the bible is God's Word</p>
                </li>
                <li>
                    <i class="fas fa-quote-left"></i>
                    <p class="text2">We believe that the bible is God's Word</p>
                </li>
            </ul>
        </div>
        <div class="brief-img">
            <img src="~/image/worship2.jpg" alt="img" />
        </div>
    </div>
</div>


<div class="scripture">
    <div class="script1">
        <div class="overlay2">
            <div class="script-content">
                <p class="small">
                    "I have hidden your word in my heart that I might not sin against you"
                </p>
            </div>
        </div>
    </div>
    <div class="script2">
        <div class="overlay2">
            <div class="script-content">
                <p class="small">
                    "They that wait upon the Lord shall renew their strength"
                </p>
            </div>
        </div>
    </div>
</div>

<div class="quote quote2">
    <div class="quote-content">
        <div class="quotation">
            <h4 class="q-m">
                Click the Join Us button to enjoy our service
            </h4>
            <div class="line"></div>
            <div>
                @*<Link to="/signup">
                    <i class="join-btn">Join Us</i>
                    </Link>*@
            </div>
        </div>
    </div>
</div>


<div class="features">
    <div class="features-content">
        <div class="grid-item">
            <div class="card">
                <div class="card-head">
                    <img src="~/image/live.jpg" alt="img" />
                </div>
                <div class="card-body">
                    <h5>Live Church Service</h5>
                    <p>
                        By selecting your church branch, you get to join the live church service stream
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <img src="~/image/offering.jpg" alt="img" />
                </div>
                <div class="card-body">
                    <h5>Church Payments</h5>
                    <p>
                        Have access to select payment of offering, donation or tithe to church branch
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <img src="~/image/events.jpg" alt="img" />
                </div>
                <div class="card-body">
                    <h5>See upcoming events</h5>
                    <p>
                        Signing up gives you the priveledge to view upcoming events.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-head">
                    <img src="~/image/comment.jpg" alt="img" />
                </div>
                <div class="card-body">
                    <h5>Live Service Comments</h5>
                    <p>
                        Feel free to be interactive and leave comments in the comment section.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('html').css('overflow', 'initial');
    </script>
}