/* Reset password*/
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
.reset {
	height: 100vh;
	width: 100vw;
}

.password-content {
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.password-content > .password-img {
	background: url(../image/worship.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 60%;
	height: 100%;
}

.password-form-content {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.password-form-content > .password-form-inner-content {
	background-color: #fff;
	padding: 20px 20px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.27);
	border-radius: 5px;
}

.password-form-content > .password-form-inner-content > h1 {
	width: 300px;
	text-align: center;
	padding-bottom: 20px;
	font-size: 22px;
}

.password-form-content > .password-form-inner-content > .lead {
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

.back-btn {
	position: relative;
	left: 150px;
	padding-bottom: 20px;
}

.back-btn > a {
	color: #000;
}

.back-btn > i {
	font-size: 30px;
}

.login {
	height: 100vh;
	width: 100vw;
}

.login-content {
	background-color: #f4f4f4;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

	.login-content .login-img {
		background: url(../images/worship.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 60%;
		height: 100%;
	}

.reset-form-content {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

	.reset-form-content .reset-form-inner-content {
		background-color: #fff;
		padding: 30px 20px;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.27);
		border-radius: 5px;
	}

		.reset-form-content .reset-form-inner-content h1 {
			width: 300px;
			text-align: center;
			padding-bottom: 30px;
		}

		.reset-form-content .reset-form-inner-content .lead {
			font-weight: bold;
			text-align: center;
			padding-bottom: 30px;
		}

.reset-form .reset-form-group {
	padding-bottom: 20px;
}

	.reset-form .reset-form-group label {
		font-weight: bold;
		padding-bottom: 5px;
		display: block;
		padding-left: 10px;
	}

	.reset-form .reset-form-group input {
		width: 95%;
		border: none;
		outline: none;
		background-color: #f4f4f4;
		padding: 10px;
		border-radius: 30px 20px;
	}

.forgot-password {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
}

	.forgot-password a {
		text-decoration: none;
		color: black;
		font-weight: bold;
		font-size: 13px;
		transition: all ease-in-out 0.5s;
	}

		.forgot-password a:hover {
			color: blue;
		}

.reset-form .btn {
	display: flex;
	justify-content: center;
}

	.reset-form .btn button {
		border: none;
		font-size: 14px;
		color: #fff;
		padding: 10px 15px;
		background-color: #000;
		border-radius: 20px;
		cursor: pointer;
		transition: all ease-in-out 0.5s;
	}

		.reset-form .btn button:hover {
			background-color: rgb(24, 24, 24);
		}
