<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.Title == null ? "Welcome" : ViewBag.Title)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/passwordrest.css" rel="stylesheet" />
    <link href="~/css/account.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-content">
                <div class="nav-logo">
                    <img src="~/image/logo.jpeg" />
                </div>
                <div class="nav-links">
                    <div class="dropdown">
                        <a href="/#" id="about-us" class="nav-margin">
                            About
                        </a>
                    </div>
                    <a href="/#" id="contact-us" class="nav-margin">
                        Contact
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style=" background-color: rgb(250, 205, 3);">
        <div class="container">
            MTN Liberia &copy; @DateTime.Now.Year All Rights Reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("UserAccount", required: false)
</body>
</html>
