<div class="showcase">
    <div class="overlay">
        <div class="showcase-content">
            <div class="left">
                <h1 class="lead">Welcome</h1>
                <h2 class="medium">To The MTN Live</h2>
                <h3 class="small">Church Service</h3>
            </div>
            <div class="right">
                <div class="right-head">
                    <img src="~/image/worship.jpg" alt="img" />
                </div>
                <div class="right-head-btm">
                    <div class="info">
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <p>Sign Up for our service</p>
                    </div>
                    <div class="info">
                        <div class="icon">
                            <i class="fas fa-mouse-pointer"></i>
                        </div>
                        <p>Select Church</p>
                    </div>
                    <div class="info">
                        <div class="icon">
                            <i class="fas fa-money-bill-wave"></i>
                        </div>
                        <p>Make Payments to church</p>
                    </div>
                    @*<Link to="/signup">
                        <i class="start-btn"></i>
                        </Link>*@
                </div>
            </div>
        </div>
    </div>
</div>

