@{ 
    ViewBag.Title = "Reset Password";
    Layout = "_AccountLayout";
}
<div class="reset">
    <div class="password-content">
        <div class="password-img">

        </div>
        <div class="password-form-content">
            <div class="back-btn">
                <a href="#">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
            <div class="password-form-inner-content">
                <h1>CHURCH PORTAL MTN LIBERIA </h1>
                <p class="lead">RESET PASSWORD</p>
                <form class="reset-form">
                    <div class="reset-form-group">
                        <label>Username</label>
                        <input type="text" placeholder="Please enter username">
                    </div>
                    <div class="reset-form-group">
                        <label>Password</label>
                        <input type="password" placeholder="Please enter new password">
                    </div>
                    <div class="reset-form-group">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Please re-enter new password">
                    </div>
                    <div class="reset-form-group btn">
                        <button type="submit">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section UserAccount{ 
    <script src="~/lib/fontawesome/fontawesome-min.js"></script>
}