<main>
    <section class="best-pricing best-pricing2 pricing-padding2">
        <div style=" background-color: #fafafa !important;padding:20px !important;border-radius:30px; min-width: 130px">
            <div class="section-tittle text-center">
                <h1><i class="fa fa-check-square-o" aria-hidden="true" style="color:#4285F4"></i></h1>
                <h3> An Error Occured </h3>
                <h5> @Model</h5>
            </div>
        </div>
    </section>
</main>
<style>
    body {
        height: 100vh;
        position: relative;
    }

    main {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div.best-pricing {
        padding: 0 !important;
    }
</style>